[core]
  excludefiles = ~/.gitignore
  editor = vim
[user]
  email = xxx@domain.com
  name = nor1c
  signingkey = XXXXXXXXXXXXXXXX
[gpg]
  program = gpg2
[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential
[commit]
  gpgsign = true
[alias]
  df = diff
  co = checkout
  cm = commit -m
  stat = status
  logline = "log --oneline --graph"
  plo = "pull origin"
